
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pontano+Sans|Quicksand" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Pontano+Sans|Quicksand" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chonburi|Lancelot" rel="stylesheet">
    <meta name="google-site-verification" content="GMxrLU7IAdzYykTwHXKwPRhJo86j8k0XENak9LWMqis" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>


<style type="text/css">
	    .parallax-container {
      height: 55em;
    }
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

body{
font-family: 'Roboto', sans-serif;
color: #c6442e;
/*background-image: url("/assets/IMG_0913.JPG");
*/
}

@media only screen and (max-width: 600px) {
    #cta-top {
      font-size:5em !important;
      margin-top: 50%;
}
}

.indicators .indicator-item{
    background-color: #d8bdb2 !important;
}

.indicators .indicator-item.active{
    background-color: #a35041 !important;
}

/* label color */
   .input-field label {
     color: #a24f41;
   }

   .input-field #email_inline .active{
     color: #a24f41 !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

   nav ul li a{
    font-weight: 600;
    font-size: 18px;
   }

   #mc_embed_signup form{
    padding: 0 !important;
   }

</style>
<body>



<div class="parallax-container" style="background: rgba(0,0,0,0.1);">
    <nav class="transparent" style="box-shadow: 0 0 0 5px rgba(0,0,0,0) !important; height: 100px; ">
    <div class="nav-wrapper transparent container" style="background: rgba(0,0,0,0.6); margin-top: 1em;">
      <a href="#" class="brand-logo center">
        <img src="assets/EVA Logo White-19.png" style="width: 6.5em; height: 100%; padding-top: .5em;"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="http://blog.evascape.com/">The Evas - Blog</a></li>

      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="badges.html">Story</a></li>

        <li><a href="https://www.instagram.com/evascapeshop/">Instagram</a></li>
      </ul>
    </div>

  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="http://blog.evascape.com/">Blog</a></li>
    <li><a href="badges.html">Story</a></li>
    <li><a href="https://www.instagram.com/evascapeshop/">Instagram</a></li>
    </ul>


  <div class="row">
      <div class="col s12 m10 l6 offset-l1">
        <div class="container right" style="margin-top: -5em;">


            <p id="cta-top" class="white-text flow-text" style="line-height: 1.2; font-size: 7.7em; font-weight: 600; ">Because<span style="text-decoration: underline;"> settling down</span> is boring.</p>

        </div>
      </div>
  </div>
    
      <div class="parallax"><img style="height: 90vw; width: auto;" src="assets/greg-kantra-338515-unsplash.jpg"></div>
    </div>
        
    <div class="section valign-wrapper" style="height: 300px; background-color: #c6442e;">
        
        <div class="row">
            <div class="col s12 m12 l12 scrollslow">
                <div class="container">
                    <p class="white-text flow-text center-align" style="line-height: 1.3;">We believe your decor should effortlessly fit your wanderlust lifestyle and ever changing mood because <span style="font-weight: 800;">you shouldn’t have to compromise on making your space yours.</span> Nomadic by design is where form meets function.</p>
                </div>
            </div>
        </div>
    </div>



<div class="section hide-on-small-only">
<div class="row" style="">
    <div class="col s12 m10 valign-wrapper" style="height: 600px;" >
    <div class="col s6 m2 l4 scrollfast" >
                <img src="assets/Image uploaded from iOS (7).jpg" style="float: right; height: 40vw; width: auto;">
            </div>
             <div class="col s6 m4 l3 scrollfast" >
                <img src="assets/greg-kantra-333822-unsplash.jpg" style="float: right; height: 40vw; width: auto;">
            </div>
            <div class="col s6 m7 l3 scrollfast" >

                <img class="hide-on-small-only" src="assets/EVA Logos-07.png" style="height: 38em; width: auto; float: right; margin-right:-40px;">
                <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <p style="font-size: 1.4em;">Sign up for more news about Evascape, including details on our first launch.</p>
                    <div class="left" id="mc_embed_signup">
                    <form action="https://productoptimist.us18.list-manage.com/subscribe/post?u=b61109ea2f724943a06082e82&amp;id=63b8dea8bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" style="background: #fff; width: auto;" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b61109ea2f724943a06082e82_63b8dea8bc" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #c6442e; width: auto;"></div>
                        </div>
                    </form>
                    </div>
            </div>
    </div>
    </div>
</div>


<div class="section show-on-small hide-on-med-and-up">

    <div class="row">
        
        <div class="col s12">
            <img class="responsive-img scrollfast" src="assets/greg-kantra-333822-unsplash.jpg" style="float: right;">
        </div>
    </div>
    <div class="row valign-wrapper" style="">
        <div class="col s12">
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; width: 90vw; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

            </style>
            <div class="center-align center" id="mc_embed_signup">
            <form action="https://productoptimist.us18.list-manage.com/subscribe/post?u=b61109ea2f724943a06082e82&amp;id=63b8dea8bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" style="background: #fff; width: 100%;" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b61109ea2f724943a06082e82_63b8dea8bc" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #c6442e; width: 100%;"></div>
                </div>
            </form>
            </div>
            <p class="center" style="font-size: 1.4em;">Sign up for more news about Evascape, including details on our first launch.</p>
            </div>                
    </div>
    
</div>


    <div class="section hide-on-small-only" style="margin-top: 5em; background: rgba(51,51,51,0.08); height: 30em;">
    <div class="row hide-on-small-only valign-wrapper">
         <div class="hide-on-small-only col m6 l4">
            <h3 class="center-align" style="font-weight: 600; line-height: 1.3;">Authentic spaces, rad places.</h3>
            <p class="center-align flow-text" style="line-height: 1.3;">We're not about mass-market trends. We deliver authenticity by curating the experiential designs that modern nomads crave. We're bluring the lines between memorable destinations and the your ever-changing abode.</p>
         </div>

         <div class="col m6 l4 scrollslow" >
             <div class="slider left" >
               <ul class="slides">
                 <li>
                   <img src="assets/blocks.jpg">
                 </li>
                 <li>
                   <img src="assets/stairs.jpg">
                 </li>
                 <li>
                   <img src="assets/stacked.jpg">
                 </li>
                 <li>
                   <img src="assets/stone.jpg">
                 </li>
                 <li>
                   <img src="assets/pardise.jpg">
                 </li>
                 <li>
                   <img src="assets/pool.jpg">
                 </li>
             </ul>
         </div>
         </div>
    </div>
</div>
    <div class="section show-on-small hide-on-med-and-up" style="margin-top: 2vw;">
        <div class="row hide-on-med-and-up">
            <div class="col s12 scrollslow" >
             <div class="slider left" >
               <ul class="slides">
                 <li>
                   <img src="assets/blocks.jpg">
                 </li>
                 <li>
                   <img src="assets/stairs.jpg">
                 </li>
                 <li>
                   <img src="assets/stacked.jpg">
                 </li>
                 <li>
                   <img src="assets/stone.jpg">
                 </li>
                 <li>
                   <img src="assets/pardise.jpg">
                 </li>
                 <li>
                   <img src="assets/pool.jpg">
                 </li>
             </ul>
         </div>
     </div>
    </div>
         <div class="row">
             <div class="hide-on-med-and-up col s12">
                <h3 class="center-align" style="font-weight: 600; line-height: 1.3;">Authentic spaces, by rad places.</h3>
                <p class="center-align" style="line-height: 1.3; font-size: 1.2em;">We're not about mass-market trends. We deliver authenticity by curating the experiential designs that modern nomads crave. We're bluring the lines between memorable destinations and the your ever-changing abode.</p>
             </div>
         </div>

         
</div>
    </div>
    </div>



    <div class="row show-on-small hide-on-med-and-up">
        <div class="s12 center-align">
            <img class="responsive-img " src="assets/EVA Logos-07.png" style="margin-bottom: -8em;">
        </div>
        </div>

    <div class="row white-text" style="padding-bottom: 100px; background-color: #c6442e;">
        <!-- <div class="col s12 m6 l6 offset-m1 offset-l1 scrollfast hide-on-small-only">
            <div class="container">
                <img class="materialboxed responsive-img" width="500" src="assets/Image uploaded from iOS (8).jpg" style="float: right;">
            </div>
        </div> -->
        <div class="col s12 scrollslow">
            <div class="container center-align">

                <h5 style="text-transform: uppercase;">Coming Soon</h5>
                <hr style="width: 150px; border-style: solid; border-color: #a35041; border-width: 1.5px;">
                <h2 style="font-family: 'Yeseva One', cursive;">Los Angeles</h2>
                <h5>Collection</h5>
                <a href="http://blog.evascape.com/" class="white waves-effect waves-light btn" style="color: #c6442e;">Learn More</a>
                <!-- <img class="materialboxed responsive-img show-on-small hide-on-med-and-up" width="500" src="assets/Image uploaded from iOS (8).jpg" > -->
            </div>
        </div>
    </div>
  <div class="divider"></div>

    <footer class="page-footer white" style="color: #c6442e;">
             <div class="container">
               <div class="row">
                 <div class="col l6 s12">
                   <h5>Contact</h5>
                   <p style="line-height: 1.9; text-decoration: underline;">hello@evascape.com</p>
                 </div>
                 <div class="col l4 offset-l2 s12">
                   <h5>The Eva's</h5>
<!--                    <a href="http://blog.evascape.com/" class="white waves-effect waves-light btn" style="color: #c6442e;">Blog</a>
 -->                   <ul>
                    <li><a style="color: #c6442e; text-decoration: underline;" href="http://blog.evascape.com/">Blog</a></li>
                    <li><a style="color: #c6442e; text-decoration: underline;" href="www.instagram.com/evascapeshop">Instagram</a></li>
                    <li><a style="color: #c6442e; text-decoration: underline;" href="www.facebook.com/evascape">Facebook</a></li>
                    <li><a style="color: #c6442e; text-decoration: underline;" href="www.pinterest.com/evascape">Pinterest</a></li>
                   </ul>
                   
                 </div>
               </div>
             </div>
             <div class="footer-copyright" >
               <div class="container center-align" style="color: #c6442e;">
               © 2018 Evascape
                   <!-- <div class="action-btn right">
                     <a class="btn-floating btn-small btn-flat" style="background-color: transparent !important;" href="https://www.instagram.com/evascapeshop/">
                       <i class="fab fa-instagram fa-sm" style="color: #c6442e;"></i>
                     </a>
                     <a class="btn-floating btn-small btn-flat" style="background-color: transparent !important;" href="#">
                       <i class="fab fa-pinterest-p fa-sm" style="color: #c6442e;"></i>
                     </a>
                     <a class="btn-floating btn-small btn-flat" style="background-color: transparent !important;">
                       <i class="fab fa-youtube fa-sm" style="color: #c6442e;"></i>
                     </a>
                     <a class="btn-floating btn-small btn-flat" style="background-color: transparent !important;">
                       <i class="fab fa-facebook-f fa-sm" style="color: #c6442e;"></i>
                     </a>
                     <a class="btn-floating btn-small btn-flat" style="background-color: transparent !important;" href="mailto:katrina@evascape.com">
                       <i class="far fa-envelope fa-sm" style="color: #c6442e;"></i>
                     </a>
                   </div> -->
               </div>
             </div>
           </footer>
    

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>  
    <script type="text/javascript">
        window.sr = ScrollReveal();
    sr.reveal('.scrollfast', {duration: 1000});
    sr.reveal('.scrollslow', { duration: 2000 });
    sr.reveal('.scrollsuperslow', { duration: 4000 });
    </script>
</body>