<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Pontano+Sans|Quicksand" rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Pontano+Sans|Quicksand" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Chonburi|Lancelot" rel="stylesheet">
<head>
    <meta name="google-site-verification" content="GMxrLU7IAdzYykTwHXKwPRhJo86j8k0XENak9LWMqis" />
    </head>


<style type="text/css">
	    .parallax-container {
      height: 30em;
    }
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

body{
font-family: 'Roboto', sans-serif;
color: #a35041;

}

.indicators .indicator-item{
    background-color: #d8bdb2 !important;
}

.indicators .indicator-item.active{
    background-color: #a35041 !important;
}

/* label color */
   .input-field label {
     color: #a24f41;
   }

   .input-field #email_inline .active{
     color: #a24f41 !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }


</style>
<body>
<nav class="transparent" style="box-shadow: none !important; height: 100px;">
    <div class="nav-wrapper transparent valign-wrapper">
      <a href="#" class="brand-logo center">
        <img src="assets/Evascape-Logo.svg" style="width: 6em; height: 100%;"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>

  </nav>


<div class="row">
    <div class="col s12 m10 valign-wrapper" style="background: #cfb3a7;">

        <div class="col s6 m5 offset-m2 scrollslow" >
            <div class="container right">
                <p style="line-height: 1.3; font-size: 3em;">Designed for<br>the Modern<br>Nomad ___</p>
            </div>
        </div>
        <div class="col s6 m4">
            <img class="hide-on-small-only" src="assets/IMG_0722.JPG" style="height: 30em; width: auto; float: right;">
        </div>
    </div>
    </div>

    <div class="section" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="row">
            <div class="col s12 scrollsuperslow">
                <div class="container center-align">
                    <h3 class="black-text" style="font-weight: 600;">Hi, we're Evascape.</h3><br><br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s11 m10 l6 offset-l3 offset-m1 scrollsuperslow">
                <p class="black-text flow-text" style="line-height: 1.9; font-size: 1.4em;">We believe your decor should effortlessly fit your lifestyle and ever changing mood because <span style="font-weight: 800;">you shouldn’t have to compromise making your space yours.</span> Evascape is at the intersection of form and function with an emphasis on mobility, modularity, and innovation to fit our ever nomadic lifestyle. We deliver authenticity through worldly at home experiences to as seen through the modern nomad’s eyes. <span style="font-weight: 800;">Our goal is to inspire dreamers to dream bigger</span> through design that speaks for itself and by telling the real stories about the very real people and places that make our top destinations such special places.</p>
            </div>
        </div>
    </div>

    <div class="row valign-wrapper" style="padding-bottom: 100px;">
        <div class="col s12 m6 l6 offset-m1 offset-l1 scrollfast hide-on-small-only">
            <div class="container">
                <img class="materialboxed responsive-img" width="500" src="assets/IMG_0782.JPG" style="float: right;">
            </div>
        </div>
        <div class="col s12 m6 l4 pull-m2 pull-l2 scrollslow">
            <div class="container center-align">
                
                <h5 style="text-transform: uppercase;">Coming Soon</h5>
                <hr style="width: 150px; border-style: solid; border-color: #a35041; border-width: 1.5px;">
                <h2 style="font-family: 'Yeseva One', cursive;">Los Angeles</h2>
                <h5>Collection</h5>
                <img class="materialboxed responsive-img show-on-small hide-on-med-and-up" width="500" src="assets/IMG_0782.JPG" >
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">
        <div class="col s6 m6 show-on-medium-and-down hide-on-large-only valign-wrapper center-align">
                <h4 class="center-align">Inspired By ___</h4>
            </div>
        </div>
        <div class="row">
            
            <div class="col l10 m10 offset-m1 offset-l1 hide-on-small-only valign-wrapper">
                <div class="col m3 l3">
                    <img class="materialboxed responsive-img scrollsuperslow" width="300" src="assets/blocks.jpg" style="display: inline;">
                </div>
                <div class="col m3 l4 hide-on-med-and-down">
                    <h4 class="center-align">Inspired<br>By ___</h4>
                </div>
                <div class="col m3 l3">
                    <img class="materialboxed responsive-img scrollfast" width="300" src="assets/stairs.jpg" style="display: inline;">
                </div>
                <div class="col m3 l2">
                    <img class="materialboxed responsive-img scrollslow" width="300" src="assets/stacked.jpg" style="display: inline;">
                </div>
            </div>

            <div class="slider show-on-small hide-on-med-and-up">
                <ul class="slides">
                  <li>
                    <img src="assets/blocks.jpg">
                  </li>
                  <li>
                    <img src="assets/stairs.jpg">
                  </li>
                  <li>
                    <img src="assets/stacked.jpg">
                  </li>
                  <li>
                    <img src="assets/stone.jpg">
                  </li>
                  <li>
                    <img src="assets/pardise.jpg">
                  </li>
                  <li>
                    <img src="assets/pool.jpg">
                  </li>
              </ul>
          </div>
        </div>

        <div class="row">
            
            <div class="col l10 m10 offset-m1 offset-l1 hide-on-small-only valign-wrapper">
                <div class="col m3 l3 offset-l1">
                    <img class="materialboxed responsive-img scrollfast" width="200" src="assets/stone.jpg" style="display: inline; ">
                </div>
                <div class="col m3 l3 pull-l2">
                    <img class="materialboxed responsive-img scrollsuperslow" width="300" src="assets/pardise.jpg" style="display: inline;">
                </div>
                <div class="col m3 l2 pull-l3">
                    <img class="materialboxed responsive-img scrollslow" width="200" src="assets/pool.jpg" style="display: inline;">
                </div>
            </div>

        </div>
    </div>

    <div class="row scrollslow" style="padding-top: 100px;">
        <div class="col s12 m10 valign-wrapper push-m2" style="background: #d8bdb2;">

            <div class="col s12 m5 offset-m1" style="padding-top: 50px; padding-bottom: 50px;">
                <div class="container">
                    <h2>Welcome<br>Home ___</h2>
                    <p style="font-size: 1.4em;">Sign up for more news about Evascape, including details on our first launch.</p>
                    <div class="input-field inline">
                      <input id="email_inline" type="email" class="validate">
                      <label for="email_inline">Email</label>
                      <a class="btn" style="background-color: #a24f41; width: 100%;">Submit</a>
                    </div>
                </div>
            </div>

        </div>
        </div>

<div class="section center-align scrollsuperslow">
                <div class="container">
                    <div class="action-btn" style="left: 23px !important;">
                      <a class="btn-floating btn" style="background-color: #d8bdb2;;" href="https://www.instagram.com/evascapehome/">
                        <i class="fab fa-instagram fa-sm"></i>
                      </a>
                      <a class="btn-floating btn" style="background-color: #d8bdb2;;" href="#">
                        <i class="fab fa-pinterest-p fa-sm"></i>
                      </a>
                      <a class="btn-floating btn" style="background-color: #d8bdb2;;">
                        <i class="fab fa-youtube fa-sm"></i>
                      </a>
                      <a class="btn-floating btn" style="background-color: #d8bdb2;;">
                        <i class="fab fa-facebook-f fa-sm"></i>
                      </a>
                      <a class="btn-floating btn" style="background-color: #d8bdb2;;" href="mailto:kbrinso@gmail.com">
                        <i class="far fa-envelope fa-sm"></i>
                      </a>
                    </div>
                </div>
            </div>

<div class="section scrollfast" style="top-padding: 100px;">
        <div class="row">
            <div class="col s12">
                <div class="container center-align">
                    <h4 class="black-text">Contact Us</h4><br>
                    <p class="black-text center-align" style="line-height: 1.9;">hello@evascape.com<br>
                    6276 W Olympic Boulevard<br>Los Angeles, CA<br>90048</p>
                </div>
            </div>
        </div>        
    </div>
    

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>  
    <script type="text/javascript">
        window.sr = ScrollReveal();
    sr.reveal('.scrollfast', {duration: 1000});
    sr.reveal('.scrollslow', { duration: 2000 });
    sr.reveal('.scrollsuperslow', { duration: 4000 });
    </script>
</body>